body {
    font-family: Helvetica;
    text-align: center;
    padding: 0px;
}

.title {
    background-color: #071D49;
    color: #FFFFFF;
    font-size: 25pt;
    padding: 5px;
    width: 100%;
    margin: 0px;
    margin-bottom: 2em;
}