<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="https://www.njit.edu/favicon.ico" />
        <link rel="stylesheet" href="\static\style.css" />
         <script type="text/javascript">
        function popup() {
            alert("Welcome to NJIT's page");
        }
        window.onload = popup;
        </script>
    </head>
    <body>
        <div class="title">
            <h1>I'm proud of what we've created together!</h1>
        </div>
        <a class="links" href="https://www.njit.edu/">NJIT's Website</a> | <a class="links" href="https://uisapppr3.njit.edu/scbldr/">NJIT Schedule Builder</a> | <a class="links" href="https://www.njit.edu/about/key-facts">Key Facts</a> | <a class="links" href="https://www.njit.edu/careerservices/upcoming-events">Upcoming Events</a>
        <br>
        <img  height="400" width="640" src='https://www.njithighlanders.com/images/2020/9/4/Eberhardt_Hall_.jpeg?width=1440&height=810&mode=crop' alt="NJIT's Historic Eberhardt Hall"/>
        <footer class="footer-container">
            <div class="address-wrapper">
                <ul>
                    <li>University Heights, Newark, New Jersey 07102 USA</li>
                    <li>(973) 596-3000</li>
                </ul>
            </div>
            <div class = "slogan">
                <h2>The Edge in Knowledge!</h2>
            </div>
        </footer>
	  </ul>
    </body>
</html>
