<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" href="https://www.njit.edu/favicon.ico" />
        <link rel="stylesheet" href="\static\style.css" />
         <script type="text/javascript">
        function popup() {
            alert("Welcome to NJIT's page");
        }
        window.onload = popup;
        function sendEmail() {
            alert("Thank you for signin up for notifications!");
        }
        var middle_images = ['static/skybridge.jpg', 'static/theboys.jpg', 'static/njitwec.jpg', 'https://www.njithighlanders.com/images/2020/9/4/Eberhardt_Hall_.jpeg?width=1440&height=810&mode=crop'];
        var count = 0;
        setInterval(function(){
            if (count >= middle_images.length) count = 0;
            var img_source = middle_images[count];
            document.getElementById('mid-image').src = img_source;
            document.getElementById('mid-image').style.height = "400px";
            document.getElementById('mid-image').style.width = "640px";
            count++;
        },2000);
        </script>
        <a href="https://www.njit.edu/">
            <img style="float: right; margin: 0px 15px 15px 0px;" src="static/njitLogo.jpg" width="190" height="80" />
        </a>
    </head>
    <body>
        <header>
            <div class="title">
                <h1>I'm proud of what we've created together!</h1>
            </div>
            <ul class="horizontal_links">
                <li><a class="links" href="https://www.njit.edu/academics">Academic Programs</a></li>
                <li><a class="links" href="https://uisapppr3.njit.edu/scbldr/">NJIT Schedule Builder</a></li>
                <li><a class="links" href="https://www.njit.edu/about/key-facts">Key Facts</a></li>
                <li><a class="links" href="https://www.njit.edu/careerservices/upcoming-events">Upcoming Events</a></li>
                <li><a class="links" href="https://www.njit.edu/pandemicrecovery/#tab-2">NJIT Pandemic Update</a></li>
                <li><a class="links" href="https://www5.njit.edu/registrar/exams/finalexams.php">Fall 2020 Final Exam Schedule</a></li>
                <li><a class="links" href="https://www.njit.edu/careerservices/welcome-cds">About Us</a></li>
            </ul>
            <br>
            
        </header>
        <div class="container">
            <main>
                <div id="carousel">
                        <div class="slide">
                            <a href="https://en.wikipedia.org/wiki/Eberhardt_Hall,_New_Jersey_Institute_of_Technology">
                            <img  id="mid-image" height="400" width="640" src='https://www.njithighlanders.com/images/2020/9/4/Eberhardt_Hall_.jpeg?width=1440&height=810&mode=crop' alt="NJIT's Historic Eberhardt Hall" class="image1"/>
                            </a>
                            <img  height="400" width="640" src='https://www.fndry.com/wp-content/uploads/CKB_Corner-Shot.jpg' class="image3">
                            <img  height="400" width="640" src='https://news.njit.edu/sites/news/files/styles/16by9-banner/public/2019MayCampusPhotos-21-2%20%282%29%20%281%29_1.jpg?itok=0MuWYRo3' class="image4">
                            <img  height="400" width="640" src='https://www.roi-nj.com/wp-content/uploads/2017/11/Wellness-Center-3-NJIT-crop.jpg' class="image5">
                            <img  height="400" width="640" src='https://www.njit.edu/campusplanning/sites/njit.edu.campusplanning/files/styles/large/public/Campus%20Center%20Building.jpg?itok=oehcdGPR' class="image6">
                        </div>
                    </div>
            </main>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="margin-top: 20px; text-align: left;">
                    <p>Sign up for email notifications!</p>
                    <form id="form-edit">
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        
                        <button type="submit" class="btn btn-danger" onclick="sendEmail()">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <footer class="footer-container">
            <div class="address-wrapper">
                <ul>
                    <li>University Heights, Newark, New Jersey 07102 USA (973) 596-3000</li>
                </ul>
            </div>
            <div class = "slogan">
                <h3>The Edge in Knowledge!</h3>
            </div>
        </footer>
	  </ul>
    </body>
</html>
